body{border: 1px solid red;}

header{border: 1px solid green;}

header h1{border: 1px solid black;}

header nav{border: 1px solid orange;}

header nav ul{border: 1px solid brown; list-style:none; padding:0px;}

header nav ul li{border: 1px solid silver; float:left; margin:5px 3px}

header nav ul li a{border: 1px solid blue; padding:5px; display:block; color:#006699; text-decoration:none; text-transform:uppercase; letter-spacing:5px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}

header nav ul li a:hover{background:#FF9900; color:#000066}

header nav ul li a:active{ background:#99CCFF; color:#FF0}
