header {
	background: #C6E9FA;
	padding: 10px 0;
}

.cabecalho {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

#logo_horizontal {
	width: 200px;
}

.checkout {
	width: 100%;
	margin: 0 auto;
	padding: 0x 0;
	background-color: #cccccc;
}
	
.checkout li {
	display: inline-block;
	text-align: center;
	width: 49%;
	vertical-align: top;
	padding: 30px 0px;
	box-sizing: border-box;
	background-color: #C6E9FA;
	}

footer {
	text-align: center;
	background: #EDEDED;
	padding: 20px 0;
}

#logo_vertical {
	width: 90px;
	margin: 0;
}